<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div>
         <h1>Driver</h1>
        <p><a class="btn btn-primary btn-lg" href="/driver_add_departure" role="button">driver »</a></p>
    </div>

        <div>
         <h1>Passenger</h1>
        <p><a class="btn btn-primary btn-lg" href="/passenger" role="button">passenger »</a></p>
    </div>
</body>
</html>