<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction</title>
        {% load static %}
      <link rel="stylesheet" href="{% static 'one_app/css/introduction.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <main role="main">
        <div class="jumbotron1" class="jumbotron" >
            <div class="container">
                <h1 class="display-3">Why Carpool?</h1>
                <p>It's a fast, fun, affordable way to commute. While carpooling isn't new, this is a fresh way to share the road and the costs. Choose to drive or ride, and match with people based on route and time of day. Use this app to drive, and catch a ride.</p>
                <p><a class="btn btn-primary btn-lg" href="/login_registration" role="button">Get Start »</a></p>
            </div>
        </div>

        <div class="container">
        <div class="row">
            <div  class="col-md-4">
                <h2>Match with someone going the same way </h2>
                <p>Been single for so long? Try carpool with some one may help you find your partner along the way to work!!</p>
            </div>
            <div class="col-md-4">
                <h2>Split the cost of gas</h2>
                <p>Gas price is crazy right? which carpool, you only need to pay half of price</p>
            </div>
            <div class="col-md-4">
                <h2>Say hello to the express lane</h2>
                <p>Think about this! How do you feel when you are driving at norml speed and see people are stucking in traffic! Feel good right?</p>
            </div>
        </div>

  </div>

</main>
</body>
</html>